h1 {
	text-align: center;
	color: black;
}
body {
	font-family: Helvetica, sans-serif;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding-right: 4px;
	padding-left: 4px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}
/* Hyperlinks */
a:link {
	color: #fff;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
a:visited {
	color: #000;
	text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}
