name: Check File Encoding
on: [push]
jobs:
  check_file_encoding:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
          submodules: recursive
      - name: "Run Script"
        run: |
          python3 CK3_Validator/test_scripts/check_encoding.py "WtWSMS"
